<div class="center jumbotron">

  <h1>Welcome To My Shop</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <div id="welcome">
   <%= link_to "Go To Shop Now!", category_path(1), class: "btn btn-lg btn-info" %>
  </div>
 	
  
</div>